body {
	font-family: 'Arial', sans-serif;
	padding: 20px;
}

.btn {
	background: #FAFAFA;
	border: none;
	color: #000;
	position: relative;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
}

.btn:hover, .btn:active {
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0, rgba(0, 0, 0, 0.15) 0 1px 3px 0;
}

.btn:focus {
	outline: none;
}